@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
/* use display: flex and flex-wrap: wrap to make a grid */
#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 69px;
}
.movie {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 200px;
  padding: 12px;
  background-color: #6bb9c77a;
  border: 3px solid #1d70a2;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
/* loading spinner from codepen */
.loading {
  pointer-events: none;
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: #3e67ec;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}
body {
  background-image: url('../img/miku.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  text-shadow: 1px 0 0 #1d70a2, 0 -1px 0 #1d70a2, 0 1px 0 #1d70a2, -1px 0 0 #1d70a2;
}

textarea {
  height: 100px;
  width: 100%;
  background: #a0d2db;
  font-family: 'Inconsolata', monospace;
}

button {
  background-color: #78bc61;
  border: 2px solid #1d70a2;
  border-radius: 20px;
  font-family: 'Permanent Marker', cursive;
}

input {
  background: #a0d2db;
  font-family: 'Inconsolata', monospace;
}

.input {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

#add-movie {
  width: min-content;
  white-space: nowrap;
  font-size: larger;
  font-weight: bolder;
  border: 3px solid #1d70a2;
  padding: 12px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.buttonStyle {
  padding: 8px;
  font-weight: bold;
}

/*fieldset, label { margin: 0; padding: 0; }*/

/*.rating {*/
/*  border: none;*/
/*  float: left;*/
/*  display: flex;*/
/*  flex-direction: row-reverse;*/
/*  justify-content: center;*/
/*}*/

/*.rating > input { display: none; }*/
/*.rating > label:before {*/
/*  margin: 5px;*/
/*  font-size: 1.25em;*/
/*  font-family: FontAwesome;*/
/*  display: inline-block;*/
/*  content: "\f005";*/
/*}*/

/*.rating > .half:before {*/
/*  content: "\f089";*/
/*  position: absolute;*/
/*}*/

/*.rating > label {*/
/*  color: #ddd;*/
/*  float: right;*/
/*}*/

/*!***** CSS Magic to Highlight Stars on Hover *****!*/

/*.rating > input:checked ~ label, !* show gold star when clicked *!*/
/*.rating:not(:checked) > label:hover, !* hover current star *!*/
/*.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } !* hover previous stars in list *!*/

/*.rating > input:checked + label:hover, !* hover current star when changing rating *!*/
/*.rating > input:checked ~ label:hover,*/
/*.rating > label:hover ~ input:checked ~ label, !* lighten current selection *!*/
/*.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }*/